.bgimg{

	width: 100%;
	height: 100vh;
	overflow: hidden;
	display: flex;
    justify-content: center;
	align-items: center;

}


.bgimg video
{  
	position: absolute;
	top: 0;
	left: 0; 
	object-fit: cover;
	width: 100%;
	height: 100%;
	pointer-events: none;
  }

.bgimg .content{
	position: relative;
    z-index: 1;
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 100px;

}
video{
	filter:opacity(105%);
}
.hearderset{
	padding-top: 250px;
	box-sizing: border-box;
}
.hearderset h2{
	font-size: 42px;
	font-weight: bold;
}

.ourservices{
	padding: 100px 0px 60px;
	height: 700px;

}



.img{
	margin: 80px 0px !important;
}


.imgsetting{
	border-radius: 50%;
	height: 100px;
	width: 100px;
}

.fa-camera-retro
{
	margin-top: 25px;
	margin-left: 25px;
}
.fa-barcode{
	margin-top: 25px;
	margin-left: 25px;
}
.fa-crosshairs
{
	margin-top: 25px;
	margin-left: 25px;
}
/*
/////////////////////////gallery*/


.gallery h1{
	font-size: 50px;
	font-width: bold;
}
.card{
	margin-top: 40px;
}
/*our team.............*/
.ourteam
{
	margin-top: 40px;
	height: 700px;
	padding: 100px 0px 60px;
	width: 100%;

}
.teamsetting
{
	margin-top: 70px;
}

/* .footer
{
	height: 50px;

} */
/* .footer h6
{
  line-height: 50px;
}

.flex-container {
	display: flex;
	justify-content: center;
	background-color: DodgerBlue;
  }
  
  .flex-container > div {
	background-color: #f1f1f1;
	width: 200px;
	margin: 10px;
	text-align: center;
	line-height: 75px;
	font-size: 30px;
  } */
 .workshop-outer{
	border-radius: 20px;
 }
  .workshop{
	height: 90px;
	background-color: #343A40;
	
  }

  .card-title{
	color:#ffc107;
  }

@media(min-width: 992px){

}

@media(min-width: 768px) and (max-width: 991px){
	
}
@media(min-width: 575px) and(max-width: 767px){

}
@media(min-width: 460px)and (max-width: 574px){

   .weld-icons{
	margin-bottom: 40px;
    margin-top: 8px;
   }
}
@media(max-width: 479px){
	
	.gallery h1 {
		font-size: 36px;
		 
	}
	.hearderset h2 {
		font-size: 50px;
		font-weight: bold;
	}
	.weld-icons{
		margin-bottom: 40px;
		margin-top: 8px;
	   }

.ourservices{
	
	height: 1000px;

}
.Gallery
{
	height: 1500px !important
}
}
.ourteam{
	
	height: 1100px;
}

/* //////////////////////changes */

.mynav
{

	margin-left: 0px;
	margin-right: 500px;

}

.row
{
	justify-content: center;
}

// .Gallery{
// 	background-image: url('https://images.unsplash.com/photo-1514472796143-14ece5ab7d94?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=873&q=80');
//    background:cover;
// }

.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-around !important;
}
  
#gallery {
  img {
    height: 75vw;
    object-fit: cover;
    
    @media (min-width: $bootstrap-sm) {
      height: 35vw;
    }
    
    @media (min-width: $bootstrap-lg) {
      height: 18vw;
    }
  }
}
 
 
.carousel-item {
  img {
    height: 60vw;
    object-fit: cover;
    
    @media (min-width: $bootstrap-sm) {
      height: 350px;
    }
  }
}
